<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>


    <link th:href="@{/css/thompsonstyle.css}" rel="stylesheet" media="screen"/>
    <title>Checkout Complete</title>
</head>
<body>
<div class="container">
    <div class="row col-md-12">
        <h2>Thank You for Your Order!!</h2>
    </div>
</div>

</body>
</html>