<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"></script>


    <link th:href="@{/css/thompsonstyle.css}" href="../static/css/thompsonstyle.css" rel="stylesheet" media="screen"/>
    <title>LogOut</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-5 col-md-offset-4">
            <h2>You are Logged Out</h2>
        </div>
    </div>
</div>

</body>
</html>